#select-country {
  top: -7px;
  right: auto;
  float: right;
  position: relative;
  display: table;
  width: auto;
  height: auto;
  z-index: 10;
  a {
    margin: 12px 5px 0 0;
    padding: 12px;
    width: 80px;
    height: 40px;
    background: #800000;
    opacity: 0.8;
    .ddarrow {
      position: relative;
      top: 4.9px;
      display: inline-block;
      background-image: url("../images/bitmap.png");
      background-repeat: no-repeat, repeat;
      background-size: 0.7em auto, 100%;
      background-position: right 50% top 45%, 0 0;
      margin-left: 12px;
      width: 17px;
      height: 19px;
    }
  }
}
