footer {
  position: relative;
  bottom: 0;
  margin-top: 0;
  height: 100%;
  clear: both;
  background-color: #191919;
  color: white;
  width: 100%;
  .topFooterContent {
    width: 100%;
    background-color: $color-cream;
    display: flex;
    color: rgba(210, 105, 30, 01);
    h3 {
      font-family: Calistoga, Georgia, "Times New Roman", serif;
      font-size: 1.63rem;
      font-weight: 600;
    }
    .newsletter {
      label {
        font-size: 1.25rem;
        font-weight: 500;
      }
    }
    label {
      font-size: 1.25rem;
      font-weight: 700;
    }
    .contact {
      z-index: 5;
      border-right: 1px dashed rgba(210, 105, 30, 0.7);
      -webkit-background-clip: padding-box; /* for Safari */
      background-clip: padding-box; /* Firefox 4+, Opera, Chrome */
      .contact-select {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
          linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
        background-repeat: no-repeat, repeat;
        /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
        background-position: right 0.7em top 50%, 0 0;
        /* icon size, then gradient */
        background-size: 0.65em auto, 100%;
      }
    }
    .socialIcons {
      width: 100%;
      display: flex;
      justify-content: center !important;
      .icon {
        margin-right: 1rem;
        color: #ffffff;
        background-color: $color-choco;
        padding: 0.5rem;
        z-index: 5;
        opacity: 0.7;
      }
      .icon:last-of-type {
        margin-right: 0;
      }
    }
  }
  #footer-navs {
    color: black;
    background-color: #191919;
    padding: 0;
    width: 100%;
    justify-content: center;
    .list-group-item {
      font-size: 1.122rem;
      background-color: transparent;
      margin-right: 2.1rem;
      padding: 0;
      a {
        font-family: "Henny Penny", "Times New Roman", serif;
        text-decoration: none;
        color: #ffffff;
        position: relative;
        display: inline-block;
        overflow: hidden;
        background: linear-gradient(
          to right,
          $color-choco,
          $color-choco 50%,
          #ffffff 50%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 100%;
        background-position: 100%;
        transition: background-position 275ms ease;
      }
      a:hover {
        background-position: 0 100%;
      }
    }
    .list-group-item:last-of-type {
      margin-right: 0;
    }
  }
  .copyright {
    text-align: center;
    color: #cccccc;
    font-size: 70%;
    width: 100%;
    padding: 0.5rem 0rem 0.5rem 0rem;
  }
}
