nav {
  .list-group {
    li {
      display: inline-block;
      margin: 0 0.4em;
      position: relative;
      vertical-align: baseline;
      margin-bottom: 0 !important;

      a {
        font-family: Calistoga, Georgia, "Times New Roman", serif;
        display: block;
        font-weight: bold;
        font-size: 1.2rem;
        background-color: transparent;
        word-spacing: 0px;
        display: block;
        color: #ffffff;
        padding: 0 0.338rem;
        letter-spacing: 0.09rem;
        background-color: transparent;
        line-height: 2.25rem;
      }
      a:focus {
        outline: black dotted 2px;
      }
    }

    li:last-of-type {
      margin-right: 0;
    }
    li.dd-sm-show-below {
      .dropdown-content {
        display: block;
      }
    }

    li.dd-sm-show {
      .dd-submenu {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}
