@media (max-width: $breakpoint-mobile) {
  #site-navbar {
    margin-left: 0;
    padding: 0;
  }
}

#site-navbar {
  background-color: $color-primary;
  top: 0;
  z-index: 100;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.8rem;
  padding-right: 0;
}
