nav {
  .list-group {
    padding: 1em 0.5em;
    .dropdown {
      display: inline-block;
      margin: 0 0.4em;
      position: relative;
      vertical-align: baseline;
      margin-bottom: 0 !important;
      .navlink {
        color: #ffffff;
        font-family: Calistoga, Georgia, "Times New Roman", serif;
        font-weight: bold;
        font-size: 1.2rem;
        padding: 0rem 0.5rem 0.1rem 0rem;
        letter-spacing: 0.09rem;
        background-color: transparent;
        padding: 0.2rem 0.3rem 0.5rem 0.3rem;
        word-spacing: 0px;
      }

      .dropdown-content {
        width: 18rem !important;
        padding: 10px;
        visibility: hidden;
        position: absolute;
        top: 2.2rem;
        background-color: $color-secondary;
        min-width: 280px;
        border-radius: 15px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 5;
        list-style: none;

        li:first-of-type {
          padding-top: 0.65rem;
        }

        li {
          display: block;
          margin-bottom: 0.3125rem !important;
          padding: 0;
          list-style: none;
          line-height: 1;
          a {
            padding: 7px 2.485rem 7px 1.3rem;
            display: block;
            position: relative;
            color: $color-font1;
            margin: 0;
            text-align: left;
            font-weight: 700;
            font-size: 1.08rem;
            span {
              display: inline;
              line-height: 1;
            }
          }
        }
        li:last-of-type {
          padding-bottom: 0.68rem;
        }
      }
      .dropdown-content::after {
        content: "";
        position: absolute;
        right: 125px;
        top: -17px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 17px 17px 17px;
        background-color: transparent;
        border-color: transparent transparent $color-secondary transparent;
        z-index: 1;
      }
      #flavours {
        right: -4.8rem;
      }
      #catering {
        right: -2.5rem;
      }
      #values {
        right: -5.9rem;
      }
      #contact {
        right: -5.2rem;
      }
    }

    .dropdown:last-of-type {
      margin-right: 0;
    }

    .dropdown:hover .dropdown-content {
      visibility: visible;
    }
  }
}
