@media (max-width: $breakpoint-mobile) {
  #site-navbar {
    margin-left: 0;
    padding: 0;
  }
}

#site-navbar {
  background-color: $color-primary;
  top: 0;
  z-index: 100;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropbtn {
    color: white;
    border: none;
    font-family: Calistoga, Georgia, "Times New Roman", serif;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content {
    padding: 10px;
    display: none;
    position: absolute;
    left: -100px;
    background-color: $color-secondary;
    min-width: 280px;
    border-radius: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    .show {
      display: block;
    }
  }
  .dropdown-content::after {
    content: "";
    position: absolute;
    right: 125px;
    top: -17px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 17px 17px 17px;
    background-color: transparent;
    border-color: transparent transparent $color-secondary transparent;
    z-index: 1;
  }
  .dropdown-content a:hover {
    background-color: $color-secondary;
  }
}
