@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";

@import "layout";
@import "navbar";
@import "searchdown";
@import "footer";
@import "location";
@import "navlinks";
@media (max-width: $breakpoint-mobile) {
  #site-navbar {
    padding: 0;
  }
}
* {
  line-height: 1;
}
body {
  font-family: Lato, Arial, Helvetica, sans-serif;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:focus {
  outline: white dotted 2px;
}

:focus {
  outline: -webkit-focus-ring-color auto 1px;
}

/*a:-webkit-any-link:focus {
  outline-offset: 1px;
}*/

.dd-submenu {
  position: absolute;
  display: block;
  visibility: hidden;
  opacity: 0;
  padding: 0;
  text-align: left;
  -webkit-transition: visibility 0s, opacity 0s;
  -moz-transition: visibility 0s, opacity 0s;
  transition: visibility 0s, opacity 0s;
  z-index: 5;
}

.dropdown-content {
  display: none;
  width: 18rem !important;
  padding: 10px;
  position: absolute;
  top: 2.2rem;
  background-color: $color-secondary;
  min-width: 280px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  z-index: 5;
  list-style: none;

  li:first-of-type {
    padding-top: 0.65rem;
  }

  li {
    display: block;
    margin-bottom: 0.3125rem !important;
    padding: 0;
    list-style: none;
    line-height: 1;
    a {
      padding: 7px 2.485rem 7px 1.3rem;
      display: block;
      position: relative;
      color: $color-font1;
      margin: 0;
      text-align: left;
      font-weight: 700;
      font-size: 1.08rem;
      span {
        display: inline;
        line-height: 1;
      }
    }
  }
  li:last-of-type {
    padding-bottom: 0.68rem;
  }
}
.dropdown-content::after {
  content: "";
  position: absolute;
  right: 125px;
  top: -17px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 17px 17px 17px;
  background-color: transparent;
  border-color: transparent transparent $color-secondary transparent;
  z-index: 1;
}
