@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "variables";

@import "layout";
@import "navbar";
@import "searchdown";
@import "footer";
@import "location";
@import "navlinks";
@media (max-width: $breakpoint-mobile) {
  #site-navbar {
    padding: 0;
  }
}
* {
  line-height: 1;
}
body {
  font-family: Lato, Arial, Helvetica, sans-serif;
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:focus {
  outline: white dotted 2px;
}

a:-webkit-any-link:focus {
  outline-offset: 1px;
}
